################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Console_PhoneBook/FileContentIndex
.vs/
.obj
